.title h1{
    position: absolute;
    font-family: 'Inter';
    font-size: 45px;
    top: 40px;
    left: 70px;
}

.square{
    position: absolute;
    top: 190px;
    left: 50px;
    width: 650px;
    height: 110px; 
    background-color: #EFF6FF; 
    border-radius: 15px; 
    padding: 20px; 
    box-sizing: border-box;
}

.square h1{
    position: absolute;
    font-family: 'Inter';
    font-size: 25px;
    top: 4px;
    left: 70px;
}

.square p{
    color: #787A7C;
    position: absolute;
    font-family: 'Quicksand';
    font-size: 22px;
    top: 40px;
    left: 75px;
}

.square2{
    position: absolute;
    top: 330px;
    left: 50px;
    width: 650px;
    height: 110px; 
    background-color: #EFF6FF; 
    border-radius: 15px; 
    padding: 20px; 
    box-sizing: border-box;
}

.square2 h1{
    position: absolute;
    font-family: 'Inter';
    font-size: 25px;
    top: 4px;
    left: 70px;
}

.square2 p{
    color: #787A7C;
    position: absolute;
    font-family: 'Quicksand';
    font-size: 22px;
    top: 40px;
    left: 75px;
}

.square3{
    position: absolute;
    top: 470px;
    left: 50px;
    width: 650px;
    height: 110px; 
    background-color: #EFF6FF; 
    border-radius: 15px; 
    padding: 20px; 
    box-sizing: border-box;
}

.square3 h1{
    position: absolute;
    font-family: 'Inter';
    font-size: 25px;
    top: 4px;
    left: 70px;
}

.square3 p{
    color: #787A7C;
    position: absolute;
    font-family: 'Quicksand';
    font-size: 22px;
    top: 40px;
    left: 75px;
}

.square4{
    position: absolute;
    top: 610px;
    left: 50px;
    width: 650px;
    height: 110px; 
    background-color: #EFF6FF; 
    border-radius: 15px; 
    padding: 20px; 
    box-sizing: border-box;
}

.square4 h1{
    position: absolute;
    font-family: 'Inter';
    font-size: 25px;
    top: 4px;
    left: 70px;
}

.square4 p{
    color: #787A7C;
    position: absolute;
    font-family: 'Quicksand';
    font-size: 22px;
    top: 40px;
    left: 75px;
}

.square5{
    position: absolute;
    top: 750px;
    left: 50px;
    width: 650px;
    height: 110px; 
    background-color: #EFF6FF; 
    border-radius: 15px; 
    padding: 20px; 
    box-sizing: border-box;
}

.square5 h1{
    position: absolute;
    font-family: 'Inter';
    font-size: 25px;
    top: 4px;
    left: 70px;
}

.square5 p{
    color: #787A7C;
    position: absolute;
    font-family: 'Quicksand';
    font-size: 22px;
    top: 40px;
    left: 75px;
}