.menu {
    position: absolute;
    top: 90px;
}

.title h1{
    position: absolute;
    font-family: 'Inter';
    font-size: 40px;
    top: 140px;
    left: 50px;
}

.title p{
    color: #2563EB;
    position: absolute;
    font-family: 'Quicksand';
    font-size: 26px;
    top: 190px;
    left: 500px;
}

.square{
    position: absolute;
    top: 270px;
    left: 40px;
    width: 680px;
    height: 200px; 
    font-family: 'Quicksand';
    color: #000;
    background-color: #fff; 
    box-shadow: 0 4px 8px #00000033;
    border-radius: 15px; 
    padding: 20px; 
    box-sizing: border-box;
}

.square img{
    width: 640px;
    position: absolute;
    top: 140px;
}

.subtitle{
    color: #2563EB;
    position: absolute;
    font-family: 'Quicksand';
    font-size: 20px;
    top: 90px;
    left: 40px;
}

.subtitle2{
    color: #2563EB;
    position: absolute;
    font-family: 'Quicksand';
    font-size: 20px;
    top: 90px;
    left: 600px;
}

.square2{
    position: absolute;
    top: 505px;
    left: 40px;
    width: 680px;
    height: 400px; 
    font-family: 'Quicksand';
    color: #000;
    background-color: #fff; 
    box-shadow: 0 4px 8px #00000033;
    border-radius: 15px; 
    padding: 20px; 
    box-sizing: border-box;
}

.square2 h1{
    font-family: 'Quicksand';
    margin-left: 65px;
    top: 20px;
    font-size: 30px;
}

.square2 img{
    width: 35px;
    height: 35px; 
    position: absolute;
    top: 45px;
    left: 30px;
}

.number{
    color: #000;
    font-family: 'Quicksand';
    margin-left: 35px;
    top: 20px;
    font-size: 30px;
}

.name p{
    color: #000;
    font-family: 'Quicksand';
    margin-left: 100px;
    margin-top: -66px;
    font-size: 30px;
}

.kilometry p{
    color: #000;
    font-family: 'Quicksand';
    margin-left: 500px;
    margin-top: -66px;
    font-size: 30px;
}

.number2{
    color: #000;
    font-family: 'Quicksand';
    margin-left: -525px;
    margin-top: 90px;
    font-size: 30px;
}

.name2 p{
    color: #000;
    font-family: 'Quicksand';
    margin-left: -460px;
    margin-top: -66px;
    font-size: 30px;
}

.kilometry2 p{
    color: #000;
    font-family: 'Quicksand';
    margin-left: -60px;
    margin-top: -66px;
    font-size: 30px;
}

.square3{
    position: absolute;
    top: 235px;
    left: 40px;
    width: 600px;
    height: 25px; 
    background-color: #EFF6FF; 
    border-radius: 10px; 
    padding: 20px; 
    box-sizing: border-box;
}

.number3{
    color: #000;
    font-family: 'Quicksand';
    margin-left: -525px;
    margin-top: 140px;
    font-size: 30px;
}

.name3 p{
    color: #000;
    font-family: 'Quicksand';
    margin-left: -460px;
    margin-top: -66px;
    font-size: 30px;
}

.kilometry3 p{
    color: #000;
    font-family: 'Quicksand';
    margin-left: -60px;
    margin-top: -66px;
    font-size: 30px;
}

.number4{
    color: #000;
    font-family: 'Quicksand';
    margin-left: -525px;
    margin-top: 200px;
    font-size: 30px;
}

.name4 p{
    color: #000;
    font-family: 'Quicksand';
    margin-left: -460px;
    margin-top: -66px;
    font-size: 30px;
}

.kilometry4 p{
    color: #000;
    font-family: 'Quicksand';
    margin-left: -60px;
    margin-top: -66px;
    font-size: 30px;
}

.button{
    position: absolute;
    background-color: #3B82F6;
    box-shadow: 0 4px 8px #00000033;
    color: #fff;
    border: none;
    border-radius: 13px;
    padding: 11px 70px;
    top: 935px;
    left: 450px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer; 
    font-family: Quicksand;
    width: auto;
    display: inline-block;
    transition: all 0.100s ease;
}