.text h1{
    position: absolute;
    font-family: 'Inter';
    font-size: 40px;
    top: 30px;
    left: 60px; 
}

.text img{
    width: 25px;
    height: 25px; 
    position: absolute;
    top: 67px;
    left: 23px; 
}

.perfil img{
    width: 200px;
    height: 200px; 
    position: absolute;
    top: 120px;
    left: 300px; 
}

.name h1{
    position: absolute;
    font-family: 'Inter';
    font-size: 35px;
    top: 310px;
    left: 340px;  
}

.person h1{
    position: absolute;
    font-family: 'Inter';
    color: #007AFF;
    font-size: 25px;
    top: 380px;
    left: 50px;   
}

.person img{
    position: absolute;
    width: 17px;
    height: 17px; 
    top: 400px;
    left: 320px;   
}

.name2 h1{
    position: absolute;
    font-family: 'Inter';
    color: #000;
    font-size: 20px;
    top: 430px;
    left: 75px;    
}

.name2 img{
    position: absolute;
    width: 20px;
    height: 20px; 
    top: 445px;
    left: 43px;   
}

.name2 p{
    position: absolute;
    font-family: 'Quicksand';
    color: #4B5563;
    font-size: 19px;
    top: 455px;
    left: 85px;
}

.correo h1{
    position: absolute;
    font-family: 'Inter';
    color: #000;
    font-size: 20px;
    top: 510px;
    left: 75px;    
}

.correo img{
    position: absolute;
    width: 20px;
    height: 20px; 
    top: 525px;
    left: 43px;   
}

.correo p{
    position: absolute;
    font-family: 'Quicksand';
    color: #4B5563;
    font-size: 19px;
    top: 545px;
    left: 85px;
}

.security h1{
    position: absolute;
    font-family: 'Inter';
    color: #007AFF;
    font-size: 25px;
    top: 590px;
    left: 50px;   
}

.security img{
    position: absolute;
    width: 17px;
    height: 17px; 
    top: 610px;
    left: 300px;   
}

.password img{
    position: absolute;
    width: 20px;
    height: 20px; 
    top: 660px;
    left: 43px;   
}

.password p{
    position: absolute;
    font-family: 'Quicksand';
    color: #4B5563;
    font-size: 19px;
    top: 640px;
    left: 75px;
}

.verify img{
    position: absolute;
    width: 20px;
    height: 20px; 
    top: 710px;
    left: 43px;   
}

.verify p{
    position: absolute;
    font-family: 'Quicksand';
    color: #4B5563;
    font-size: 18px;
    top: 690px;
    left: 75px;
}

.notifications h1{
    position: absolute;
    font-family: 'Inter';
    color: #007AFF;
    font-size: 25px;
    top: 730px;
    left: 50px;   
}

.notifications img{
    position: absolute;
    width: 17px;
    height: 17px; 
    top: 755px;
    left: 300px;   
}

.push img{
    position: absolute;
    width: 20px;
    height: 20px; 
    top: 800px;
    left: 43px;   
}

.push p{
    position: absolute;
    font-family: 'Quicksand';
    color: #4B5563;
    font-size: 19px;
    top: 775px;
    left: 75px;
}

.email img{
    position: absolute;
    width: 20px;
    height: 20px; 
    top: 835px;
    left: 43px;   
}

.email p{
    position: absolute;
    font-family: 'Quicksand';
    color: #4B5563;
    font-size: 19px;
    top: 815px;
    left: 75px;
}
