<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    
    </head>
<!-- ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

<div class="text" (click)="onLogin()">
    <h1>Mi Cuenta</h1>
    <img src="assets/icon9.svg">
</div>

<div class="perfil">
    <img src="assets/perfil.svg">
</div>

<div class="name">
    <h1>Javier</h1>
</div>

<div class="information">
    <div class="person">
        <h1>Información Personal</h1>
        <img src="assets/icon10.svg">
    <div class="name2">
        <h1>Nombre y Apellido</h1>
        <img src="assets/icon11.svg">
        <p>Javier Pérez </p>
    </div>
    <div class="correo">
        <h1>Correo Electrónico</h1>
        <img src="assets/icon12.svg">
        <p>Javier.com</p>
    </div>
    </div>
</div>

<div class="security">
    <h1>Seguridad</h1>
    <img src="assets/icon10.svg">
    <div class="password">
        <img src="assets/icon13.svg">
        <p>Cambiar Contraseña</p>
    </div>
    <div class="verify">
        <img src="assets/icon14.svg">
        <p>Verificación en dos pasos</p>
    </div>
</div>

<div class="notifications">
    <h1>Notificaciones</h1>
    <img src="assets/icon10.svg">
    <div class="push">
        <img src="assets/icon15.svg">
        <p>Notificaciones Push</p>
    </div>
    <div class="email">
        <img src="assets/icon16.svg">
        <p>Notificaciones por Email</p>
    </div>
</div>  