<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>
<!-- ---------------------------------------------------------------------------------------------------------------------------------------- -->

<app-header></app-header>

<div class="menu">
    <app-layout></app-layout>
</div>

<div class="title">
    <h1>Desafíos Comunitarios</h1>
    <p>1,432 participantes activos</p>
    <img src="assets/User.svg">
</div>

<div class="square">
    <div class="square1">
        <h1>Desafío 10K Semanal</h1>
        <img src="assets/calendar.svg">
    </div>
<div class="square2">
    <h1>Corre 10 km en una semana</h1>
    <p> 234 participantes</p>
</div>

    <button class="button" (click)="onLogin()">
        <span>Unirse </span>
    </button>

</div>

