<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    
    </head>
<!-- ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

<div class="name">
    <h1>Javier</h1>
    <img src="assets/icon17.svg">
</div>

<div class="square" (click)="onLogin()">
    <h1>Mi Cuenta</h1>
    <div class="subtext">
        <p>Gestiona tu perfil personal</p>
    </div>
    <div class="icon">
        <img src="assets/profile.svg">
    </div>
</div>

<div class="square2" (click)="onLogin2()">
    <h1>Desafíos</h1>
    <div class="subtext2">
        <p>Define y alcanza tus metas</p>
    </div>
    <div class="icon2">
        <img src="assets/trofeo.svg">
    </div>
</div>

<div class="square3" (click)="onLogin3()">
    <h1>Progreso</h1>
    <div class="subtext3">
        <p>Ver detalles de tu plan </p>
    </div>
    <div class="icon3">
        <img src="assets/calendar.svg">
    </div>
</div>

<div class="square4" (click)="onLogin4()">
    <h1>Completado</h1>
    <div class="subtext4">
        <p> Ver desafíos alcanzados</p>
    </div>
    <div class="icon4">
        <img src="assets/Vector.svg">
    </div>
</div>
